* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto', sans serif;
}

#head-section {
  background: #0084fff6;
  height: 100vh;
  position: relative;
}

#main {
  margin-bottom: 10px;
}

.navbar li a{
 color: #fff !important;

 margin-left: 70% !important;

}

span.logo-ram {
  color: coral;
  font-family: cursive;
}
#go-back {
  margin-top: 10px !important;
  padding-top: 1.5rem;
  text-align: center !important;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  /* background-color: #000; */
  background-color: #0084fff6;
  position: fixed;
  height: 70px;
  top: 0;
  padding: 0 30px;
  z-index: 999;
}

.navbar h1 a {
  color: #fff;
  font-size: 1.5rem;
}


.navbar ul li  {
  color: #fff;
  
  text-align: center !important;
  padding: 0 15px !important;
 
}

.navbar ul li a {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-left: 10px !important;
   padding-right: 70px !important;
   text-align: center !important;
   margin-left: 70% !important;
}

.navbar a {
  cursor: pointer;
}

/* .navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: coral;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0.9;
} */

/* .navbar ul li {
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  /* cursor: pointer; */
/* } */

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.show-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 100%; */
  padding: 0 20px;
  position: relative;
  padding: 170px 0;
}

.logo {
  margin: 0 5px;
  color: #fff;
}

.brand {
  width: 70px;
  border-radius: 50%;
  position: relative;
}

.show-case h1 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.show-case p {
  font-size: 23px;
  color: #fff;
  max-width: 600px;
  letter-spacing: 1.5px;
}

.p-btn {
  margin-top: 40px;
}

.btn-flex {
  display: flex;
}

.show-case #btn-1 {
  margin-top: 40px;
  transition: all 1s ease-in-out;
}

.show-case #btn-2 {
  margin-top: 40px;
  margin-left: 1.5rem;
  text-align: center;
  font-family: 'open sans';
  transition: all 1s ease-in-out;
}

.show-case #btn-1:hover {
  opacity: 0.9;
  color: #ff7f50;
  transform: translateY(-8%);
}

.show-case #btn-2:hover {
  opacity: 0.9;
  color: #ff7f50;
  transform: translateX(10%);
}

.contact {
  color: #fff;
  font-size: 20px;
}

#flex-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 170px;
  color: #000000;
}

.special-div h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: 'open sans';
  color: #363b42;
}

#special-sect .special-p {
  margin-top: 1rem;
  color: blue;
  font-family: 'open sans';
  padding: 10px 40px;
  /* font-size: 20px; */
}

.flex-direction {
  display: flex;
  max-width: 40%;
  height: 100%;
  flex-direction: column;
  padding: 30px;
  margin-left: 5rem;
}

.flex-direction h2 {
  font-size: 30px;
  font-weight: 700;
  color: #363b42;
  font-family: 'open sans';
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.flex-direction p {
  font-size: 23px;
  line-height: 2.3rem;
  letter-spacing: 1.5px;
}

.flex-column {
  content: ' ';
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  /* background:url('https://i.picsum.photos/id/172/2000/1325.jpg?hmac=TFUTObVbAAdA2B5wwLRdjkDb67ohfqhvOtiTdqYdaN0')no-repeat center center/cover; */
  /* opacity: 0.6; */
  z-index: -1;
  flex: 1;
}

.flex-column {
  background-color: #f4f4f4;
  border-radius: 50px 30px 50px 50px;
}

.flex-column img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 10px;
  justify-content: space-around;
  justify-content: right;
  width: 250px;
  border-radius: 50%;
  z-index: 10;
}

.flex-column img:nth-child(3) {
  width: 300px;
  z-index: 10;
}

.dot {
  font-size: 3rem;
}

.flex-column img:nth-child(2) {
  margin-left: 200px;
}

#flexible {
  display: flex;
  margin-top: 20px;
}

#flexible img {
  width: 40px;
  margin-right: 20px;
}

.first-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 30%;
  margin-left: 40px;
}

.first-column h2 {
  margin-bottom: 18px;
  font-weight: 700;
  color: #363b42;
  letter-spacing: 2px;
  font-family: 'open sans';
}
.first-column p {
  font-size: 20px;
  line-height: 2rem;
  padding: 10px;
}

.second-column {
  flex-direction: column;
  background: #f4f4f4;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 20px 40px;
  max-width: 30%;
  z-index: 10;
}

.second-column h2 {
  margin-bottom: 20px;
  font-weight: 900;
  color: #363b42;
  font-family: 'open sans';
}

.second-column p {
  font-size: 20px;
  line-height: 2rem;
}

.third-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 30%;
}

.third-column i {
  font-size: 2rem;
  color: #8a8787;
  margin-right: 15px;
}

.third-column h2 {
  margin-bottom: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #363b42;
  font-family: 'open sans';
}
.third-column p {
  font-size: 20px;
  line-height: 2rem;
  padding: 10px;
}

#grow-business {
  display: flex;
  flex-direction: row-reverse;
  margin: 150px 20px;
  background-color: #f0f4f5;
  height: 100%;
}

.grow-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 30px;
  width: 90%;
  height: 100%;
}

.grow-1 > h2 {
  font-size: 2rem;
  font-family: 'open sans';
  color: #363b42;
}

.grow-1 p {
  font-size: 20px;
  line-height: 30px;
  color: #3b7bf3;
  margin: 10px 0;
  padding: 15px 57px;
  letter-spacing: 1.5px;
  font-family: 'open sans';
}

form label {
  display: block;
  margin-left: 0;
  padding-left: 0;
  margin: 15px 0;
}

form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #999696 1px solid;
}

input {
  border-radius: 5px;
}

input:focus {
  outline-color: #4583fd;
}

.btn-primary {
  padding: 12px 30px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #4489fb;
  color: #fff;
}

.grow-2 {
  width: 100%;
}

.grow-2 img {
  object-fit: cover;
  width: 90%;
  height: 96%;
  padding: 30px;
  margin: 40px;
  border-radius: 5px;
}

#address {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  background-color: #24345c;
  color: #fff;
  height: 20vh;
  border-bottom: #bfbbc7 1px solid;
}

/* footer .adress {
    margin-top: 0px;
    height: 100vh;
    padding-top: 0px;
} */

.direction {
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 170px 150px;
  padding: 30px;
}

hr {
  border: #f4f4f4 solid 1px;
  z-index: 10;
}

.bottom {
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 170px 50px;
  padding: 30px;
}

.direction p {
  line-height: 2rem;
  margin-top: 5px;
}

.direction img {
  display: inline-flex;
}

.direction h1 {
  display: inline-flex;
  margin-left: 2rem;
}

.bottom i {
  color: blue;
}

.bottom img {
  margin: 19px 5px;
  width: 20px;
}

.location-h3 span {
  color: #f0b5b5;
  font-family: cursive;
}

.direction i {
  margin: 8px;
}

.facebook {
  color: blue;
  border-radius: 50%;
  background-color: #fff;
  padding: 1px;
}

.address {
  display: block;
  justify-content: center;
  align-items: center;
  color: aqua;
  text-align: center;
}

@media (max-width: 500px) {
  .navbar {
    width: 100%;
    height: 150px;
    margin-bottom: 160px;
  }
  .navbar ul {
    flex-direction: column;
    justify-self: flex-end;
    margin: 5% 20%;
    /* text-align: center;
        align-items: center; */
  }

  /* .navbar ul li a {
    padding: 0.5rem;
    font-size: 0.8rem;
  } */

  /* .navbar ul li a:hover {
    color: coral;
    font-size: 0.9rem;
    margin: 2px 2px;
    padding: 3px 10px;
  } */

  #nav1-links {
    color: #333333 !important;
  }

 
  #showcase-1 {
    margin-bottom: 170px;
  }
  #head-section {
    height: 100vh;
  }

  #head-section #showcase-1 {
    margin-bottom: 100px !important;
    /* padding: 70px; */
  }

  .navbar .brand {
    display: flex;
    margin-right: 5px;
  }

  .btn-light {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
}

  .flex-direction h2 {
    font-size: 25px;
  }

  .flex-column img {
    width: 170px;
  }

  .flex-column img:nth-child(2) {
    margin-left: 170px;
  }

  .flex-column img:nth-child(3) {
    width: 250px;
  }
  #flex-item {
    display: flex;
  }

  .flex-direction p {
    padding: 2px;
    font-size: 1rem;
    width: 100%;
    height: 100%;
  }

  #flex-item .flex-direction p {
    padding: 2px;
    font-size: 1rem;
  }


  .grow-1 h2 {
    font-size: 25px;
  }

  .grow-1 p {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 2px;
  }

  .ram-img img {
    display: none;
  }

  #ramdev {
    display: flex;
    flex-direction: column;
  }

  #ramdev h1 {
    margin-top: 50px;
  }

  #staff .staff-aside {
    flex-direction: column;
    flex: 100%;
    width: 100%;
  }

  #staff .staff {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
}

/* about.html */

/* #ram-about {
    background-color: #0084fff6;
} */

#ramdev {
  /* margin-top: 120px; */
  display: flex;
  margin: 120px 50px;
  /* margin-bottom: 30px; */
}

.container {
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.ram-details {
  background-color: #333;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.5rem;
  width: 100%;
  /* height: 100%; */
}

.ram-details h1 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}

.ram-details p {
  margin-top: 10px 20px;
  padding: 10px 15px;
  font-family: 'open sans';
}

.ram-span {
  font-weight: bold;
  font-family: cursive;
  font-size: 1.5rem;
}

.ram-details p a {
  background-color: #fff;
  color: #0000ff;
}

.ram-img {
  width: 100%;
  /* height: 100%; */
  margin: 0 20px;
}

.ram-img img {
  width: 450px;
}

#staff {
  display: flex;
  margin-top: 2.5rem;
}

#staff h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'open sans';
  padding: 1.5rem;
  color: #51606e;
}

#staff p {
  line-height: 1.5rem;
  letter-spacing: 2px;
  padding: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  color: #fff;
  margin-right: 10px;
}

.staff-aside {
  margin-left: 20px;
  width: 30%;
}

#staff h3 {
  font-size: 40px;
}
#staff h3 i {
  margin-left: 20px;
  padding-top: 1.5rem;
}

.staff {
  margin-left: 120px;
  margin-right: 30px;
  width: 70%;
  background-color: #0084fff6;
  border-radius: 5px;
}

#flex-about {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0px auto;
  max-width: 1100px;
  height: 450px;
  align-items: center;
  justify-content: center;
}

#flex-about {
  margin-top: 95px;
  margin-bottom: 10px;
}

.card {
  width: 30%;
  margin: 4px;
  padding: 2rem;
  /* border: #4682b4 
    solid 1px; */
  background: #f4f4f4;
  line-height: 1.5rem;
  border-radius: 15px;
  font-family: 'open sans';
  letter-spacing: 1.8px;
}

.card:nth-child(2) {
  width: 35%;
  z-index: 10;
  border-radius: 15px;
}

.card:first-child,
.card:last-child {
  margin-top: 15px;
}

#flex-about img {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.bene-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  position: relative;
  padding: 170px 0;
}

#benefits-showcase:before {
  content: ' ';

  background: url('https://images.unsplash.com/photo-1571023479098-1ed95127545e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80')
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  opacity: 0.7;
  z-index: -1;
}

#benefits-showcase {
  /* background: #f4f4f4; */
  position: relative;
  color: #200dc4;
  margin-bottom: 50px;
}

/* h1 and paragraph */
.bene-showcase h1 {
  /* color: #200dc4; */
  color: #ffff;
  font-size: 40px;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  z-index: 1;
}

.bene-showcase p {
  font-size: 1.3rem;
  font-weight: bolder;
}

#flex-about h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.bene-showcase p {
  font-size: 23px;
  /* color: #200dc4; */
  color: #fff;
  max-width: 600px;
  letter-spacing: 1.5px;
  z-index: 2;
}

.navbar a i {
  margin-right: 0.5rem;
}

#address-1 {
  display: flex;
  margin: 40px;
}

#address-1 ul li {
  list-style: none;
}

#address-1 ul li i {
  margin-right: 15px;
}


#address .container { 
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}



